* {
    margin: 0 auto;
}

body{
    text-align: left;
	font-size: 20px;
	font-family: sans-serif;
	color: #333;
}


nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(7, 7, 7);
    color: white;
    height: 300px;
}

nav img {
    margin-top: 20px;
}

h1 {
    font-family: poppins;
    margin-top: 60px;
    font-weight: bolder;
    font-size: 50px;
}
#timer{
    text-align: center;
    font-size: 60px;
    font-family: poppins;
    margin-top: 10px;
    font-weight: bolder;
    color: black;
}
#quiz {
    margin-left: 30px;
    font-family: poppins;
    color: black;
}
.question{
	font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: rgb(0, 0, 0);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
    margin-left: 30px;
    font-family: poppins;
}
#submit:hover{
	background-color: rgb(71, 71, 71);
}
#Resultado {
    color: blue;
}